In [1]:
import seaborn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

df = pd.read_csv(r"PLACEHOLDER.csv")

#Create columns that will be used by model to determine when transaction is fraud
 
df['isPayment'] = df.type.apply(lambda x: 1 if x == 'PAYMENT' or x == 'DEBIT' else 0)

df['isMovement'] = df.type.apply(lambda x: 1 if x == "CASH_OUT" or x == "TRANSFER" else 0)

df['accountDiff'] = abs(round(df.oldbalanceDest - df.oldbalanceOrg,2))

display(df.head())

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,isPayment,isMovement,accountDiff
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0,1,0,170136.0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0,1,0,21249.0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0,0,1,181.0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0,0,1,21001.0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0,1,0,41554.0

In [2]:
# set up x and y for machine learning

features = df[['amount','isPayment','isMovement','accountDiff']]

label = df['isFraud']

#run machine learning model

x_train,x_test,y_train,y_test = train_test_split(features, label, train_size = 0.7, test_size = 0.3)

#fit the data

scaler = StandardScaler()

x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [8]:
lr = LogisticRegression()
lr.fit(x_train,y_train)

# determine success of trained model and which variable is the most important in determining fraud

print(lr.score(x_test,y_test))

print(lr.coef_)

0.9986755979978897
[[ 0.22556635 -0.9144682   3.64689644 -0.69749078]]